{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "fluid": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "**/*.{md,json}",
      "options": {
        "useTabs": false
      }
    }
  ]
}